<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HiCalendar.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C4661A792E45ABC2006E02C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4661A882E45ABC5006E02C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4661A922E45ABC5006E02C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
